@charset "UTF-8";

/* ----------------- sidebar ----------------- */

/* ----- menu-toggle ----- */
#menu-toggle {
    z-index: 1001;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, .5);
}
#menu-toggle:hover {
    background: #343a40;
}

/* ----- sidebar-nav ----- */
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    text-align: center;
    background: deepskyblue;
    transition: all 0.5s ease;
}
.sidebar-nav {
    width: 250px;
    padding: 0;
}
.sidebar-nav li {
    line-height: 70px;
}
.sidebar-nav li a {
    display: block;
    color: #555;
}
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav > .sidebar-brand {
    font-size: 30px;
    line-height: 75px;
}
.sidebar-nav > .sidebar-brand a:hover {
    background: none;
}

/* ------------------------------------------------------------ */


/* ----------------- page-content ----------------- */

/* ----- header ----- */
header {
    position: relative;
}
header #title {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-family: serif;
    font-weight: 600;
    letter-spacing: 5px;
}
header img {
    width: 100%;
    height: 350px;
}

/* ----- main ----- */
main {
    padding: 60px 30px;
    background: floralwhite;
}
main .content {
    padding: 100px 0;
}
main h1, h2, h3, h4 {
    margin: 0;
    text-align: center;
}
main p {
    margin: 0;
}

/* profile */
#profile .profileContents {
    padding: 0 30px;
    display: flex;
    align-items: center;
}
#profile .selfImage {
    width: 35%;
    padding: 0 5%;
}
.selfImage img {
    width: 100%;
}
#profile .selfProfile {
    width: 65%;
    padding: 5%;
    font-size: larger;
}
.selfProfile .name-birth {
    padding: 0 20px;
}

/* portfolio */
#portfolio h2 {
    font-weight: bold;
}
#portfolio .app {
    margin: 50px;
    padding: 30px 0;
    background: turquoise;
    box-shadow: 0px 0px 10px #fff;
    border-radius: 20px;
}
h3, span {
    font-family: serif;
}
#portfolio .app h3 {
    color: blue;
    font-weight: bold;
}
#portfolio .appContents {
    margin: 0;
    padding: 0;
}
#portfolio .appContents .appOutlines {
    margin: auto;
    padding: 0;
    text-align: center;
}
#portfolio .appContents .appOutlines img {
    width: 60%;
    margin: 30px 0;
    border: 1px solid;
    box-shadow: 0px 0px 5px #555;
}
#portfolio .appContents .appOutlines button {
    box-shadow: 0px 1px 5px #555;
}
#portfolio .appContents .appOutlines button a {
    color: #fff;
    text-decoration: none;
}
#portfolio .appContents .appOutlines .app-note {
    width: 80%;
    margin: 30px auto;
    padding: 10px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

/* appDetail */
#portfolio .appDetails {
    padding: 20px;
}
#portfolio .appDetails .flexItems {
    display: flex;
}
#portfolio .appDetails .usingLanguage, .flamework, .productionPeriod, .github {
    width: 50%;
}
#portfolio .appDetails .detail {
    margin: 10px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0px 0px 2px #555;
    border-radius: 10px;
}
/* skill */
#skills .row {
    margin: 0 20px;
    padding: 30px;
}
#skills .languages, #skills .flameportfolio {
    padding: 30px;
}
#skills .learning {
    margin: 50px;
    padding: 30px 20px;
    background: aliceblue;
    border: 1px solid #555;
    border-radius: 20px;
}
#skills .learning .skill {
    padding: 20px;
    background: #fff;
    box-shadow: 0px 0px 5px #555;
}
.name-rate {
    display: flex;
}
.name-rate p {
    padding: 0 10px;
}
.rate {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC;
}
.rate::before, .rate::after {
    content: "★★★★★";
}
.rate::after {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    color: #ffcf32;
    overflow: hidden;
    white-space: nowrap;
}
.rate[data-rate="5"]:after{ width: 100%; } /* 星5 */
.rate[data-rate="4.5"]:after{ width: 90%; } /* 星4.5 */
.rate[data-rate="4"]:after{ width: 80%; } /* 星4 */
.rate[data-rate="3.5"]:after{ width: 70%; } /* 星3.5 */
.rate[data-rate="3"]:after{ width: 60%; } /* 星3 */
.rate[data-rate="2.5"]:after{ width: 50%; } /* 星2.5 */
.rate[data-rate="2"]:after{ width: 40%; } /* 星2 */
.rate[data-rate="1.5"]:after{ width: 30%; } /* 星1.5 */
.rate[data-rate="1"]:after{ width: 20%; } /* 星1 */
.rate[data-rate="0.5"]:after{ width: 10%; } /* 星0.5 */
.rate[data-rate="0"]:after{ width: 0%; } /* 星0 */

#skills .tool, #skills .os {
    margin: 0;
}
/* contact */
#contact {
    text-align: center;
}
#contact p {
    padding: 10px 0;
}

/* ----- footer ----- */
footer {
    text-align: center;
    background-color: antiquewhite;
}
footer .goTop {
    padding: 10px 0;
    font-size: large;
}
footer .copyright {
    padding: 10px 0;
    font-size: 10px;
}

/* ------------------------------------------------------------ */

