@charset "UTF-8";

/* body */

body {
    position: relative;
    animation: fadeIn 3.5s ease 0s 1 normal;
    background: repeating-linear-gradient(
        -45deg,
        rgb(222, 247, 255) 0, rgb(222, 247, 255)5px,
        #fff 5px, #fff 10px
    );
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}


/* sidebar */

#menu-toggle {
    z-index: 1001;
    position: fixed;
    top: 15px;
    left: 15px;
    width: 50px;
    height: 50px;
    background: rgba(52, 58, 64, .5);
    text-align: center;
    color: #fff;
    line-height: 50px;
}

#menu-toggle:hover {
    background: #343a40;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    background: #ddffeb;
    text-align: center;
    transition: all 0.5s ease;
    overflow-y: auto;
}

.toggled #sidebar-wrapper {
    width: 250px;
}

.sidebar-nav {
    width: 250px;
    padding: 0;
}

.sidebar-nav li {
    line-height: 70px;
}

.sidebar-nav li a {
    display: block;
    color: #555;
}

.sidebar-nav li a:hover {
    background: rgba(141, 141, 141, 0.32);
}


/* header */

header {
    position: relative;
}

.header__content--img {
    width: 100%;
    height: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.header__content--title {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #fff;
    font-family: serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 5px;
}

.header__content--name {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #fff;
}


/* main */

main {
    max-width: 800px;
    margin: 0 auto;
}

.main__content {
    margin: auto 1rem;
    padding: 1rem 0 7rem;
}

.main__content--title {
    padding: 20px;
    text-align: center;
}


/* profile */

#profile img {
    max-width: 150px;
    margin: 2rem auto;
}


/* products */

.product--myPlan {
    background: #fdedf8;
}

.product--myDiary {
    background: #f9dde1;
}

.product--smp {
    background: #e3ffd0;
}

.product--houseworkList {
    background: #d0eeff;
}

.product--foodReport {
    background: #ffe4c5;
}

.product__content--images {
    display: flex;
    justify-content: center;
    max-width: 700px;
    margin: auto;
}

.product__content--images img {
    margin: 1rem;
    max-width: 300px;
    min-width: 150px;
    max-height: 300px;
    box-shadow: 0px 2px 5px 0px #555;
}

.product__content--login {
    max-width: 400px;
    margin: auto;
    padding: 1rem;
    text-align: center;
}

.product__content--details {
    max-width: 650px;
    margin: auto;
}


/* footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: antiquewhite;
}


/* table */

table th {
    width: 130px;
    vertical-align: middle;
    text-align: center;
}

table td {
    vertical-align: middle;
}

table ul {
    margin: 0;
}